
{% extends "base.html" %}
{% block content %}
    <h1 class="mb-3" >Posts by {{user.username}} ({{posts.total}})</h1>

 <!>
    {% if current_user.is_authenticated%}
    {% if current_user and user != current_user %}
{% if not current_user.is_following(user) %}
<a href="{{ url_for('.follow', username=user.username) }}"
class="btn btn-primary">Follow</a>
{% else %}
<a href="{{ url_for('.unfollow', username=user.username) }}"
class="btn btn-default">Unfollow</a>
{% endif %}
{% endif %}
   {% endif %}
<a href="{{ url_for('.followers', username=user.username) }}">
Followers: <span class="badge">{{ user.followers.count() }}</span>
</a>
<a href="{{ url_for('.followers', username=user.username) }}">
Following: <span class="badge">{{ user.followed.count() }}</span>
</a>
{% if current_user.is_authenticated and user != current_user and
user.is_following(current_user) %}
| <span class="label label-default">Follows you</span>
{% endif %}
<!>

    {% for post in posts.items %}
        <article class="media content-section">
        <img class="rounded-circle account-img"
               src="{{ url_for('static',filename='picture/'+post.author.picture)}}"
               alt="profile image" style="height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('users.posts', username=post.author.username ,page=page_num)}}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.postdate.strftime('%m/%d/%Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{url_for('posts.post', postid=post.id)}}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
        {% if page_num %}
            {% if page_num == posts.page %}
                <a href="{{url_for('users.posts', username=user.username ,page=page_num)}}" class="btn btn-info mb-4">{{page_num}}</a>
            {% else %}
                <a href="{{url_for('users.posts', username=user.username ,page=page_num)}}" class="btn btn-outline-info mb-4">{{page_num}}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}
